# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*$py.class

# ======================
# Virtual Environments
# ======================
venv/
.env/
.venv/
ENV/
env/

# ======================
# Environment variables
# ======================
.env
.env.*

# ======================
# Django
# ======================
db.sqlite3
*.sqlite3
media/
staticfiles/

# Collected static files (if used)
static/

# ======================
# Django logs
# ======================
*.log

# ======================
# Testing / Coverage
# ======================
.pytest_cache/
.coverage
htmlcov/

# ======================
# IDE / Editor
# ======================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Build / Distribution
# ======================
build/
dist/
*.egg-info/
.eggs/

# ======================
# MyPy / Pyright
# ======================
.mypy_cache/
.pyright/

# ======================
# Jupyter (agar ishlatsangiz)
# ======================
.ipynb_checkpoints/
